@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;
    color: #EEEEEE;
    background-color: #393E46;
    font-family: 'Roboto', sans-serif;
}

form {
    padding: 20px 50px;
    display: inline-block;
    margin-top: 7%;
    border-radius: 16px;
    background-color: #222831;
    text-align: left;
    font-size: 1.25rem;
}

form h2 {
    text-align: center;
    margin: 15px;
}

label {
    margin-bottom: 10px;
    display: inline-block;
}

label p {
    margin: 5px 0px;
}

.text-input {
    padding: 10px;
    width: 25vw;
    border-radius: 8px;
}

.submit-btn {
    padding: 8px 20px;
    font-size: 1.25rem;
    border-radius: 6px;
    margin: 10px;
    cursor: pointer;
    float: right;
    background-color: #393E46;
    color: #EEEEEE;
    border: none;
}

.submit-btn:hover {
    border-radius: 12px;
}

a {
    color: #EEEEEE;
    font-size: 1rem;
}

.message-container {
    position: absolute;
    margin: 2% 15% 0px 25%;
    padding: 10px 20px;
    background-color: #222831;
    border-radius: 12px;
    visibility: hidden;
}

.message-text {
    display: inline-block;
}